.page-footer {
  .footer-inside {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a,
    p {
      // font-family: "Open Sans";
      // font-size: 24px;
      // text-align: center;
      font-family: "Montserrat";
      font-size: 16px;
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }
  }
}
